AdaptivePELE/.ropeproject/
AdaptivePELE/docs/
AdaptivePELE/build/
AdaptivePELE/freeEnergies/oldScripts
AdaptivePELE/freeEnergies/*.so
AdaptivePELE/freeEnergies/*.c
AdaptivePELE/atomset/*.so
AdaptivePELE/atomset/*.c
AdaptivePELE/*.pyc
AdaptivePELE/*.sl
AdaptivePELE/tests
AdaptivePELE/__pycache__
AdaptivePELE/*/__pycache__
AdaptivePELE.egg-info/
*.pyc
.ropeproject
build
*.sw[op]
.DS_Store
dist
.idea
CHANGELOG.md  
CNAME  
conda_recipe
dist
docs 
hooks
LICENSE
MANIFEST.in
TODO.txt
.git
error.txt
docker
