AdaptivePELE/*/*.pyc
AdaptivePELE/*/*.sw[op]
AdaptivePELE/pyemma_scripts/new/*.pyc
AdaptivePELE/pyemma/discretized
AdaptivePELE/pyemma_scripts/*.log
AdaptivePELE/pyemma_scripts/*.png
AdaptivePELE/pyemma_scripts/*.pkl
AdaptivePELE/pyemma_scripts/*.pdb
AdaptivePELE/pyemma_scripts/tpt
AdaptivePELE/pyemma_scripts/clsummary
AdaptivePELE/pyemma_scripts/initialStructures
AdaptivePELE/pyemma_scripts/simulation
AdaptivePELE/pyemma_scripts/controlFiles
AdaptivePELE/pyemma_scripts/tmp*
AdaptivePELE/pyemma_scripts/results
AdaptivePELE/epsilon_values.txt
AdaptivePELE/.ropeproject/
AdaptivePELE/os
AdaptivePELE/setuptools
AdaptivePELE/sys
AdaptivePELE/build/
AdaptivePELE/atomset/*.c
AdaptivePELE/atomset/*.so
AdaptivePELE/atomset/build
AdaptivePELE/Data
AdaptivePELE/Documents
AdaptivePELE/docs/_build
.ropeproject
build
AdaptivePELE/*.pyc
*.sw[op]
AdaptivePELE/tmp_tests_data_3ptb_data_Test3/
AdaptivePELE/tests/data/3ptb_data/Test3/
AdaptivePELE/tests/data/3ptb_data/RestartTest/*/logFile*
.DS_Store
