*.pyc
*.sw[op]
pyemma/discretized
pyemma_scripts/*.log
pyemma_scripts/*.txt
pyemma_scripts/*.png
pyemma_scripts/*.pkl
pyemma_scripts/*.pdb
pyemma_scripts/tpt
pyemma_scripts/clsummary
pyemma_scripts/initialStructures
pyemma_scripts/simulation
pyemma_scripts/controlFiles
pyemma_scripts/tmp*
pyemma_scripts/results
epsilon_values.txt
.ropeproject/
os
setuptools
sys
atomset/*.c
atomset/*.so
atomset/build
