src/*/*.pyc
src/*/*.sw[op]
src/pyemma/discretized
src/pyemma_scripts/*.log
src/pyemma_scripts/*.txt
src/pyemma_scripts/*.png
src/pyemma_scripts/*.pkl
src/pyemma_scripts/*.pdb
src/pyemma_scripts/tpt
src/pyemma_scripts/clsummary
src/pyemma_scripts/initialStructures
src/pyemma_scripts/simulation
src/pyemma_scripts/controlFiles
src/pyemma_scripts/tmp*
src/pyemma_scripts/results
src/epsilon_values.txt
src/.ropeproject/
src/os
src/setuptools
src/sys
src/build/
src/atomset/*.c
src/atomset/*.so
src/atomset/build
.ropeproject
build
src/*.pyc
